<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre E</title>
</head>
<body>
    <h1>Mi propia pagina :)</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nulla officiis in doloremque ipsa laborum dignissimos eveniet, nobis non deserunt eius quae soluta? Dolorum repellendus maiores omnis pariatur nostrum vitae.</h2>
    <h3>estructuras de carpetas lista</h3>
    <h3>app.get("/", (req, res) => {
        res.sendFile(path.join(__dirname, "./views/index.html"));
    }); para enlazar con html</h3>
    <h3>app.use(express.static("public")); para poner fotos 
    </h3>
    <h4>en la consola ponemos nodemon start src/app.js para no escribir a cada rato npm start y asi el servidor escucha cualquier cambio </h4>
    <h3>para subir nuestro proyecto a git , primero creamos el archivo .gitignore y adentro escribimos node_modules</h3>
</body>
</html>